<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="//fonts.googleapis.com/css?family=Droid+Sans|Coustard" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/visuals")
    </head>
    <body>
        <header>
            <h1 class="logo">
                <em>L</em>unch<em>T</em>rain
            </h1>
        </header>
        <div class="banner">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - HofmaDresu</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
